<?xml version="1.0" ?>
<PluginV1XML xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FRIENDLY_NAME>Synbot Plugin</FRIENDLY_NAME>
  <DLL_FILENAME>SynbotPlugin.dll</DLL_FILENAME>
  <AUTHOR_NAME>Jlucben</AUTHOR_NAME>
  <LICENSE_URL>http://www.ez-robot.com/tutorials/plugin-license.aspx</LICENSE_URL>
  <PLUGIN_GUID>eae7154f-c1e0-4e41-a661-bc4d7fc66e90</PLUGIN_GUID>
  <CATEGORY_TYPE>Beta</CATEGORY_TYPE>
  <DESCRIPTION>Plugin intefacing with the SynBot Bot Solution</DESCRIPTION>
  <VersionRelease>0</VersionRelease>
</PluginV1XML>